<div id="login-form" class="form">
    <form id="login-form-form">
        <input id="login" class="form-field" type="text" placeholder="login" required />
        <input id="password" class="form-field" type="password" placeholder="hasło" required /> <br>
        <input id="login-form-submit" class="submit-button" type="submit" value="Zaloguj" /><br>
        <button type="button" id="reset-password-button">Zapomniałem hasła</button>
    </form>
    <a id="show-registration-form" class="login-register-switcher" href="#">Nie masz konta? Zarejestruj się!</a>
</div>
