<div id="login-form" class="form">
    <span id="login-message"></span>
    <form id="login-form-form">
        <input id="login" class="form-field" type="text" placeholder="login"/>
        <input id="password" class="form-field" type="password" placeholder="hasło"/>
        <input id="login-form-submit" class="form-field" type="submit" value="Graj" />
    </form>
    <a id="show-registration-form" href="#">Nie masz konta? Zarejestruj się!</a>
</div>
