<div id="registration-form" class="form" style="border: 1px solid black;">
    <span id="registration-invalid-message"></span>
    <form id="registration-form-form">
        <input id="registration-nick" class="form-field" type="text" placeholder="Nick"/>
        <input id="registration-email" class="form-field" type="text" placeholder="Adres e-mail" />
        <input id="registration-password" class="form-field" type="password" placeholder="Hasło" />
        <input id="registration-password-confirm" class="form-field" type="password" placeholder="Powtórz hasło" />
        <input id="registration-form-submit" type="submit" value="Zarejestruj"/>
    </form>
    <a id="show-login-form" href="#">Zaloguj</a>
</div>
