<div id="scoreList">
    <span id="scoreList-title">Ranking</span>
    <div id="scoreList-table-container">
        <table id="scoreList-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nick</th>
                    <th>Wynik</th>
                    <th>Wygrał</th>
                    <th>Przegrał</th>
                    <th>Passa</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <button id="close-scoreList">Zamknij</button>
</div>