<div id="dialog">
    <span id="dialog-message"></span>
    <br/>
    <div id="dialog-buttons-container">
        <button id="dialog-confirm-button">Potwierdź</button>
        <button id="dialog-cancel-button">Anuluj</button>
    </div>
</div>