<div id="confirm-dialog" class="dialog">
    <span id="confirm-dialog-message" class="dialog-message"></span>
    <br/>
    <div id="confirm-dialog-buttons-container" class="dialog-buttons-container">
        <button id="dialog-confirm-button" class="dialog-button">Potwierdź</button>
        <button id="dialog-cancel-button" class="dialog-button">Anuluj</button>
    </div>
</div>

<div id="info-dialog" class="dialog">
    <span id="info-dialog-message" class="dialog-message"></span>
    <br/>
    <div id="info-dialog-buttons-container" class="dialog-buttons-container">
        <button id="dialog-close-button" class="dialog-button">Zamknij</button>
    </div>
</div>