

<div id="game-area">
    <div id="game">
        <div id="score-container">
            <div id="player-a-nick">gracz A</div>
            <div id="score"></div>
            <div id="player-b-nick">gracz B</div>
        </div>
        <button id="remove-move-button">Cofnij</button>
        <canvas id="game-canvas">
        </canvas>
    </div>
    <div id="game-chat-area">
        <textarea id="game-chat" disabled="disabled">
        </textarea>
        <div id="game-chat-input-box">
            <input type="text" id="game-chat-input" />
            <button id="game-chat-input-button">Wyślij</button>
        </div>
    </div>

</div>
