

<div id="game-area">

    <canvas id="game-canvas">

    </canvas>

    <div id="game-chat-area">
        <div id="score">tutaj będzie wynik</div>
        <textarea id="game-chat" disabled="disabled">
        </textarea>
        <div id="game-chat-input-box">
            <input type="text" id="game-chat-input" />
            <button id="game-chat-input-button">Wyślij</button>
        </div>
    </div>

</div>
