<div id="global-chat">

  <div id='players-list'>
      <span style="margin: 0 auto; display: block; text-align: center;">Użytkownicy</span>
    <div id='players'>
    </div>
  </div>

    <div id="chat-area">
    <textarea id="global-chat-area" disabled></textarea>
    <!--<div id="global-chat-input-box">-->
      <textarea id="global-chat-message"></textarea>
      <button id="global-chat-send-message">Wyślij</button>
    <!--</div>-->

  </div>
</div>
