<div id="global-chat">

  <div id='players-list'>
      <span style="margin: 0 auto; display: block; text-align: center; color: #ffffff; font-weight: bold;">Gracze</span>
      <div style="height: 2%; width: 90%; margin: auto; border-top: 1px solid white;"></div>
    <div id='players'>
    </div>
  </div>

    <div id="chat-area">
    <textarea id="global-chat-area" disabled></textarea>
    <!--<div id="global-chat-input-box">-->
      <textarea id="global-chat-message"></textarea>
      <button id="global-chat-send-message">Wyślij</button>
    <!--</div>-->

  </div>
</div>
