<!DOCTYPE html>
<html lang="en">
    <head>
        <title>paper soccer</title>
        <link rel="icon" href="img/football.png"/>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/form.css">
        <link rel="stylesheet" type="text/css" href="css/globalChat.css">
        <link rel="stylesheet" type="text/css" href="css/gameArea.css">
        <link rel="stylesheet" type="text/css" href="css/dialog.css">
        <link rel="stylesheet" type="text/css" href="jquery-ui.min.css">
        <script type="text/javascript" src="jquery-1.11.3.js"></script>
        <script type="text/javascript" src="jquery-ui.min.js"></script>
        <script type="text/javascript" src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/Dialog.js"></script>
        <script type="text/javascript" src="js/Socket.js"></script>
        <script type="text/javascript" src="js/GameArea.js"></script>
        <script type="text/javascript" src="js/Forms.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <a id="my-account" class="menu-item" href="#">Moje konto</a> | 
                <a id="ranking" class="menu-item" href="#">Ranking</a> | 
                <a id="rules" class="menu-item" href="#">Jak grać</a>
            </div>

            <div id="content"></div>


            <% include game %>
            <% include globalChat %>
            <% include dialog %>
        </div>
    </body>
</html>
