<!DOCTYPE html>
<html lang="en">
<head>
  <title>Paper soccer</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/globalChat.css">
  <script type="text/javascript" src="jquery-1.11.3.js"></script>
  <script type="text/javascript" src="socket.io/socket.io.js"></script>
  <script type="text/javascript" src="js/connect.js"></script>
  <script type="text/javascript" src="js/events.js"></script>
</head>
<body>
  <% include login %>
  <% include globalChat %>
  <% include game %>








</body>
</html>
