<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Paper soccer</title>

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />


        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/loginForm.css">
        <link rel="stylesheet" type="text/css" href="css/globalChat.css">
        <link rel="stylesheet" type="text/css" href="css/gameArea.css">
        <link rel="stylesheet" type="text/css" href="css/dialog.css">
        <link rel="stylesheet" type="text/css" href="jquery-ui.min.css">
        <script type="text/javascript" src="jquery-1.11.3.js"></script>
        <script type="text/javascript" src="jquery-ui.min.js"></script>
        <script type="text/javascript" src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/dialog.js"></script>
        <script type="text/javascript" src="js/Socket.js"></script>
        <script type="text/javascript" src="js/gameArea.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
        <!--<button id="show-dialog">dialog</button>-->
        
        
        <% include game %>
        <% include login %>
        <% include globalChat %>
        <% include dialog %>
    </body>
</html>
