<div id="login-form">
    <span id="login-message"></span>
    <form id="login-form-form">
        <input id="login" type="text" placeholder="wpisz swój nick"/>
        <input id="login-form-submit" type="submit" value="Graj" />
    </form>
</div>
