
<div id="login-form">
    <form id="login-form-form">
        <label for="login">Login</label>
        <input id="login" type="text" />
        <input id="login-form-submit" type="submit">
    </form>
</div>
