
<div id="global-chat">

  <div id='players-list'>
    Lista użytkowników
    <div id='players'>
    </div>
  </div>



  <div id="chat-area">
    <div>Chat globalny</div>
    <textarea id="global-chat-area" disabled></textarea>
    <div id="global-chat-input-box">
      <textarea id="global-chat-message"></textarea>
      <button id="global-chat-send-message">Wyślij</button>
    </div>

  </div>
