.form {
    display: block;
    width: 100%;
    max-width: 420px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    background-color: #009E32;
    border-radius: 10px;
}

#registration-form {
    height: 320px;
}

.invalid-message {
    display: block;
    height: 5%;
    color: #ffffff;
}

.form-field {
    margin-top: 3%;
    width: 90%;
    font-size: 24px;
}

.login-register-switcher {
    color: #ffffff;
    display: block;
    margin-top: 5%;
}

.submit-button {
    margin-top: 5%;
    width: 40%;
    font-size: 24px;
    color: #ffffff;
    background-color: #007525;
    border: none;
}

@media screen and (max-width: 320px) {
    .form {
        max-width: 300px;
        display: block;
    }
}