
#game-area {
    display: none;
    background: #33CC33;
    margin: auto;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 80%;
    height: 80%;

}


#game {
    /*border: 1px solid black;*/
    width: 65%;
    height: 90%;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 2%;

}


#game-info {
    border: 1px solid black;
    width: 65%;
    margin: auto;
    left: 2%;
    position: absolute;
    top: 10%;
    font-size: 150%;
}

#score-container {
    display: flex;
    text-align: center;
    font-size: 200%;
    color: #ffffff;
    margin: auto;
    position: absolute;
}

#player-a-nick {
}

#player-b-nick {
    padding-left: 5%;
}

#score {
    padding-left: 5%;
}

#remove-move-button {
    position: absolute;
    margin: auto;
    right: 6%;
    top: 7%;
    width: 10%;
    height: 5%;
}

#game-canvas {
    border: 1px solid black;
    background-color: #009933;
    width: 90%;
    height: 80%;
    margin: auto;
    top: 15%; bottom: 5%; left: 0; right: 0;
    position: absolute;
}

#game-chat-area {
    /*border: 1px solid black;*/
    width: 30%;
    height: 90%;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; right: 2%;
}


#game-chat {
    position: absolute;
    margin: auto;
    top: 5%;
    width: 99%;
    height: 85%;
    resize: none;
    color: white;
    background-color: #009933;
}

#game-chat-input-box {
    position: absolute;
    margin: auto;
    bottom: 1%;
    width: 100%;
    height: 5%;
}

#game-chat-input {
    font-size: 150%;
    width: 70%;
    height: 100%;
    padding-left: 2%;
}

#game-chat-input-button {
    font-size: 150%;
    width: 25%;
    height: 100%;    
    float: right;
}
