
#game-area {
    display: none;
    background: #33CC33;
    margin: auto;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 80%;
    height: 80%;

}


#game {
    /*border: 1px solid black;*/
    width: 65%;
    height: 90%;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 2%;

}

#score-container {
    text-align: center;
    color: #ffffff;
    font-size: 200%;
}

#player-a-nick {
    
}

#player-b-nick {
}

#score {
}

#game-buttons {
    border: 1px solid black;
    margin: auto;
    width: 90%;
    top: 10%;
    margin-left: 5%;
    margin-bottom: 10%;
    position: absolute;
    text-align: right;
}

#remove-move-button {
    /*float: right;*/
}

#leave-game {
}

#game-canvas {
    border: 2px solid white;
    background-color: #009933;
    width: 90%;
    height: 80%;
    margin: auto;
    top: 15%; bottom: 5%; left: 0; right: 0;
    position: absolute;
}

#game-chat-area {
    /*border: 1px solid black;*/
    width: 30%;
    height: 90%;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; right: 2%;
}


#game-chat {
    position: absolute;
    margin: auto;
    top: 5%;
    width: 99%;
    height: 85%;
    resize: none;
    color: white;
    background-color: #009933;
}

#game-chat-input-box {
    position: absolute;
    margin: auto;
    bottom: 1%;
    width: 100%;
    height: 5%;
}

#game-chat-input {
    font-size: 150%;
    width: 70%;
    height: 100%;
    padding-left: 2%;
}

#game-chat-input-button {
    font-size: 150%;
    width: 25%;
    height: 100%;    
    float: right;
}

#player-a-move-icon {
}