
#game-area {
    display: none;
    background-color: #007F33;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 80%;
    height: 80%;

}


#game {
    /*border: 1px solid black;*/
    width: 65%;
    height: 90%;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 2%;
    border-right: 1px solid white;
}

#score-container {
    text-align: center;
    color: #ffffff;
    font-size: 2vw;
}

#game-buttons {
    margin: auto;
    width: 90%;
    top: 10%;
    margin-left: 5%;
    margin-bottom: 10%;
    position: absolute;
    text-align: center;
}

#remove-move-button {
    /*float: right;*/
}

#leave-game {
    float: right;
    font-size: 1.5vw;
    border-radius: 10px;
}

#game-canvas {
    border: 2px solid white;
    background-color: #009933;
    width: 90%;
    height: 80%;
    margin: auto;
    top: 15%; bottom: 5%; left: 0; right: 0;
    position: absolute;
}

#ball-canvas {
    /*background-color: transparent;*/
    width: 90%;
    height: 80%;
    margin: auto;
    top: 15%; bottom: 5%; left: 0; right: 0;
    position: absolute;
}

#game-chat-area {
    /*border: 1px solid black;*/
    width: 30%;
    height: 90%;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; right: 2%;
}


#game-chat {
    margin: auto;
    top: 2%;
    width: 99%;
    height: 90%;
    resize: none;
    font-size: 0.8vw;
}

#game-chat-input {
    font-size: 1.5vw;
    width: 70%;
    height: 7%;
    padding-left: 2%;
    margin-left: 1px;
}

#game-chat-input-button {
    font-size: 1.5vw;
    width: 25%;
    height: 7%;    
    /*float: right;*/
}

#time {
    position: absolute;
    font-size: 1.5vw;
    color: #ffffff;
}