#global-chat {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: 80%;
    min-height: 600px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    border-radius: 10px;
    margin-top: 100px;
}

#players-list {
    width: 250px;
    height: 100%;
    float: left;
    display: block;
    background-color: #007F33;
    border-radius: 10px;
}

#players-title {
    position: relative;
    margin: 0 auto; 
    display: block; 
    text-align: center;
    color: #ffffff; 
    font-weight: bold; 
    font-size: 24px;
}

.player {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
}

#chat-area {
    width: 650px;
    float: right;
    height: 100%;
    display: block;
    background-color: #007F33;
    border-radius: 10px;
}

#global-chat-area {
    width: 90%;
    height: 80%;
    margin-top: 5%;
}

#global-chat-message {
    width: 70%;
    height: 30px;
    font-size: 24px;
}

#global-chat-send-message {
    width: 20%;
    font-size: 24px;
}

@media screen and (max-width: 1000px) {
    
    #global-chat {
        text-align: center;
    }
    
    #players-list {
        width: 100%;
        height: 40%;
    }
    
    #chat-area {
        width: 100%;
        height: 80%;
        margin-top: 5%;
        text-align: center;
        float: left;
    }
    
    #global-chat-message {
        width: 90%;
    }
    
    #global-chat-send-message {
        width: 60%;
        margin-top: 2px;
    }
    
    
    
}