
#login-form {
    display: block;
    width: 30%;
    height: 20%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}

#login {
    display: block;
    margin: 0 auto;
    width: 80%;
    font-size: 30px;
    text-align: center;

}

#login-form-submit {
    display: block;
    margin: 0 auto;
    width: 30%;
    color: #ffffff;
    background-color: #049600;
    margin-top: 10px;
    font-size: 25px;
    border: 0;
}


