body {
    background-image: url(../img/background.png);
    /*background-size: 100% auto;*/
    font-family: arial;
}

#container, #global-chat-container {
    position: absolute;
    width: 99%;
    min-width: 300px;
    height: 90%;
    min-height: 600px;
    margin: 0 auto;
}

div {
    /*border: 1px solid black;*/
}


@media screen and (max-width: 1000px) {

    .menu-button {
        width: 100%;
        float: left;
        margin-top: 5px;
        height: 30px;
    }

}
