body {
    /*background-color: #228533;*/
    background-image: url(../img/bg.png);
    font-family: arial;
}

div {
  /*border: 1px solid black;*/
}

button {
    background-color: #00BF4D;
    color: #ffffff;
    border: none;
}


.player {
    width: 100%;
    background-color: transparent;
    font-size: 1em;
}