body {
  background-color: #228533;
  font-family: arial;
}

/*div {
  border: 1px solid black;
}*/

button {
    background-color: #0c8000;
    color: #ffffff;
    border: none;
}

.player {
  width: 100%;
  background-color: transparent;
  font-size: 1em;
}

#terms {
    background-color: white;
    height: 10%;
}