#top-menu {
    width: 100%;
    min-width: 300px;
    overflow: auto;
    text-align: right;
    display: none;
}

.menu-button {
    background-color: #007525;
    color: #ffffff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
}

#scoreList {
    position: absolute;
    text-align: center;
    width: 40%;
    min-width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    background-color: #ffffff;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 1px solid #000;
    border-radius: 10px;
}

#scoreList-table-container {
    width: 100%;
    height: 400px;
    margin-top: 5%;
    /*border: 1px solid black;*/
    overflow: auto;
    text-align: center;
}

#scoreList-table {
    width: 100%;
}

#my-account-container th {
    text-align: left;
    width: 100px;

}

#scoreList-table tr:nth-child(even){
    background-color: #D1D1D1;
}

#close-scoreList {
    margin-top: 10px;
    background-color: #007525;
    color: #ffffff;
    border: none;
    font-size: 24px;
}

#scoreList-title {
    position: relative;
    font-size: 24px;
}

#my-account-container {
    position: absolute;
    text-align: center;
    width: 40%;
    min-width: 600px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    background-color: #ffffff;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 1px solid #000;
    border-radius: 10px;
}

#password-actions-container {
    width: 90%;
    height: 25%;
    border-bottom: 1px solid black;
    margin: auto;
    margin-top: 20px;
}

#my-account-table-container {
    width: 90%;
    font-size: 18px;
    border-bottom: 1px solid black;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    overflow: auto;
}

#my-account-table {
    width: 100%;
}

#my-account-table td {
    text-align: left;
    /*border: 1px solid black;*/
}

#my-history-table-container {
    width: 90%;
    min-width: 400px;
    height: 60%;
    max-height: 200px;
    margin: auto;
    margin-top: 10px;
    overflow: auto;
}

#my-history-table {
    width: 100%;
}

#my-history-table tr:nth-child(even){
    background-color: #D1D1D1;
}

#change-password-table {
    margin-top: 10px;
}


.my-account-button {
    color: #ffffff;
    background-color: #007525;
    border: none;
    font-size: 18px;
}

#my-account-title {
    font-size: 24px;
}

#close-my-account {
    /*margin-top: 10px;*/
    font-size: 24px;
}













